<div class="menu-title">
    <h1><%=LANG['LANG258'][NUM]%></h1>
    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="divider divider-margins mt-3 mb-0"></div>
<div class="content mt-0">
    <div class="list-group list-custom-small list-icon-0">
        <a href="history?type=ICK">
            <span>ICK <%=LANG['LANG258'][NUM]%></span>
            <i class="fa fa-angle-right pr-1"></i>
        </a>
        <a href="history?type=ETH">
            <span>ETH <%=LANG['LANG258'][NUM]%></span>
            <i class="fa fa-angle-right pr-1"></i>
        </a>
    </div>
</div>
