<div class="menu-title">
    <h1>Vertify</h1>
    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="content mt-0">
  <p>ID code has been sent please check your phone number</p>
  <div class="input-style input-style-1 input-required">
      <span class="color-highlight">Authentication number</span>
      <em>(required)</em>
      <input type="text" placeholder="Authentication number">
  </div>
  <a class="btn btn-full btn-xxs font-600 font-13 bg-dark-dark text-white rounded-s mb-2">Resend</a>
  <a class="btn btn-full btn-m font-600 font-13 gradient-highlight text-white rounded-s mt-3">Done</a>
</div>
