<% include ../head %>

<body>
  <div class="wrap">
    <div class="row">
      <% include ../left-menu %>
      <div class="main-wrap">
        <% include ../header %>
        <section id="title-section">
          <h1>회원지갑조회</h1>
          <div class="row">
            <p class="fl-l">회원들의 지갑주소를 조회 관리할수있습니다.</p>
          </div>
        </section>
        <section id="cont-section">
          <div class="cont-whitebox">
            <div class="conts-box pb-0">
              <div class="search-box border-l0 border-r0 p-5">
                <div class="row">
                  <div class="w50p fl-l mb-5">
                    <div class="search-form-box row pl-5 pr-5">
                      <label class="fl-l">검색어</label>
                      <div class="select-input-box fl-l">
                        <select id="selType">
                          <option value="1" selected>아이디</option>
                          <option value="2">이름</option>
                          <option value="3">전화번호</option>
                          <option value="4">이메일</option>
                        </select>
                        <input type="text" class="input" id="selText">
                      </div>
                    </div>
                  </div>

                  <div class="w50p fl-l mb-5">
                    <div class="form-box row">
                      <label class="fl-l">회원가입일자</label>
                      <div class="fl-l calendar-input-box" id="Search-time">
                        <div class="row">
                          <div class="calendar-input-btn-box fl-l">
                            <input type="text" id="datepicker1">
                          </div>
                          <span class="fl-l"> ~ </span>
                          <div class="calendar-input-btn-box fl-l">
                            <input type="text" id="datepicker2">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <link rel="stylesheet" href="../views/include/datepicker.css">
                  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                  <script>
                    $(function() {
                      $("#datepicker1, #datepicker2").datepicker({
                        dateFormat: 'yy.mm.dd',
                        showOn: "both",
                        buttonImage: "../views/images/calendar-5.png",
                        buttonImageOnly: true,
                        buttonText: "Select date"
                      });
                    });
                  </script>

                </div>
              </div>
              <!--search-box-->

              <div class="from-section">
                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">종류</label>
                      <div class="fl-l select-box">
                        <select id="COIN_GUBUN">
                          <option value=" " selected>전체</option>
                          <option value="1">ETH</option>
                          <option value="2">ICK</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">거래구분</label>
                      <div class="fl-l select-box">
                        <select id="TRADE_TYPE">
                          <option value=" ">전체</option>
                          <option value="1">구매예약</option>
                          <option value="2">판매대기</option>
                          <option value="3">입금대기</option>
                          <option value="4">구매완료</option>
                          <option value="5">판매완료</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>


              <div class="from-section mb-0">

                <div class="form-btn-box mb-0">
                  <a class="btn-change" onClick="getList()">회원검색 하기</a>
                </div>

              </div>
              <!--from-section-->

            </div>
            <!--conts-box-->

            <div class="conts-box pb-0">
              <div class="from-section">
                <div class="form-title row">
                  <h2 class="fl-l">회원 리스트<span>검색 00명 / 전체 00명</span></h2>
                  <div class="fl-r">
                    <a href="#" class="btn-excel-down fl-l" onclick="commonLib.fnExcelReport('excelTable','UserList')">엑셀 다운로드</a>

                    <!-- <select id="SECHER1_TITLE4" name="SECHER1_TITLE4">
                      <option value="D_DATE">최근가입순</option>
                      <option value="SECHER_TEXT">아이디 오름차순</option>
                      <option value="SECHER_TEXT">아이디 내림차순</option>
                    </select> -->
                  </div>
                </div>
                <div class="table-box mem-list">
                  <div class="table-over-box">
                    <table border="0" id="excelTable">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>회원No</th>
                          <th>회원ID</th>
                          <th>코인명</th>
                          <th>회원연락처</th>
                          <th>지갑주소</th>
                          <th>생성일자</th>
                          <th>지갑 비밀번호</th>
                          <th>출금제한</th>

                        </tr>
                      </thead>
                      <tbody name="tableData">
                        <tr>
                          <td>1</td>
                          <td>10016</td>
                          <td>asd@mail.com</td>
                          <td>ETH</td>
                          <td>01012345678</td>
                          <td class="break-word">sdlkfjslkdjflsdjflksjdfkjlsdjkfsdf</td>
                          <td>2020-00-00 00:00:00,000</td>
                          <td>slkjfkjagsfsd</td>
                          <td><a class="btn-table-change btn-blue btn-forfeit">출금가능</a></td>
                        </tr>
                      </tbody>
                    </table>
                    <!--/CONTENT LIST--->
                  </div>

                  <div class="row">
                    <div class="paging fl-r">
                      <ul class="row" name="paging">
                        <!-- <li><a><i class="fa fa-angle-left"></i></a></li>
                        <li><a class="active">1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                        <li><a>4</a></li>
                        <li><a>5</a></li>
                        <li><a><i class="fa fa-angle-right"></i></a></li> -->
                      </ul>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!--conts-box-->

          </div>
        </section>


      </div>
      <!--main-wrap-->

    </div>
    <!--row-->

  </div>
</body>
<script src="../views/include/js/bootstrap.min.js"></script>
<script src="../views/include/sidebar-nav/dist/sidebar-nav.min.js"></script>
<script src="../views/include/js/waves.js"></script>
<script>
  var nowPages = 1;
  var pageRange = 5;
  var currentPage = 1;
  var pageLevel = 0;
  var totalPage = 0;
  var sMemberId = "";
  var data;
  $(document).ready(() => {
    getList()
  })

  function getList() {
    $("tbody[name=tableData]").empty()
    var param = {}
    param['D_SDATE'] = ($("#datepicker1").datepicker("getDate")) ? $("#datepicker1").datepicker("getDate").format("yyyy-MM-dd") : " "
    param['D_EDATE'] = ($("#datepicker2").datepicker("getDate")) ? $("#datepicker2").datepicker("getDate").format("yyyy-MM-dd") : " "
    param['SECHER1_TITLE'] = $("#selType").val()
    param['COIN_GUBUN'] = $("#COIN_GUBUN").val()
    param['UN_ESECHER_TEXT'] = ($("#selText").val() == "") ? " " : $("#selText").val()
    param['CNT'] = 'true'
    param['CUR_PAGING'] = currentPage + ""
    param['PAGING_NO'] = "10"
    reqApiList({
      URL: 'AgetCoinList',
      PARAM: param
    }).then((data) => {
      console.log(data);
      if (data.CNT.ALL_CNT != 0) {
        cnt = data.CNT.ALL_CNT
        totalPage = Math.floor(cnt / 10) + ((cnt % 10 != 0) ? 1 : 0)
        pageLevel = Math.floor(currentPage / (pageRange + 1))
        nowPages = (totalPage - (pageLevel * 5) > 5) ? 5 : totalPage - (pageLevel * 5)
      }
      for (var i = 0; i < data.COINLIST.length; i++) {
        var innerHtml = ""
        innerHtml += '<tr>';
        innerHtml += '<td>' + data.COINLIST[i].ROW_NOMBER + '</td>';
        innerHtml += '<td>' + data.COINLIST[i].D_NO + '</td>';
        innerHtml += '<td>' + data.COINLIST[i].D_UID + '</td>';
        innerHtml += '<td>' + data.COINLIST[i].D_GUBUN + '</td>';
        innerHtml += '<td>' + data.COINLIST[i].D_HP + '</td>';
        innerHtml += '<td>' + data.COINLIST[i].D_ADDR + '</td>';
        innerHtml += '<td>' + data.COINLIST[i].D_DATE + '</td>';
        innerHtml += '<td class="break-word">' + data.COINLIST[i].D_PASS + '</td>';
        if (data.COINLIST[i].STOP_YN == 'N') {
          innerHtml += '<td><a class="btn-table-change btn-blue btn-forfeit" onclick="chagneStop(' + data.COINLIST[i].D_NO + ',\'' + data.COINLIST[i].STOP_YN + '\')">출금가능</a></td>';
        } else {
          innerHtml += '<td><a class="btn-table-change btn-red btn-forfeit" onclick="chagneStop(' + data.COINLIST[i].D_NO + ',\'' + data.COINLIST[i].STOP_YN + '\')">출금정지</a></td>';
        }

        innerHtml += '</tr>';
        $("tbody[name=tableData]").append(innerHtml)
      }
      var innerHtml = '';
      innerHtml += '<li class="" onclick="btnPage(\'bef\')"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>';
      $("ul[name=paging]").empty()
      for (var i = 1; i <= nowPages; i++) {
        if (currentPage == i) {
          innerHtml += '<li onclick="movePage(' + i + ')"> <a class="active">' + ((pageLevel * 5) + i) + '</a> </li>';
        } else {
          innerHtml += '<li onclick="movePage(' + i + ')"> <a>' + ((pageLevel * 5) + i) + '</a> </li>';
        }
      }
      innerHtml += '<li onclick="btnPage(\'next\')"> <a href="#"><i class="fa fa-angle-right"></i></a> </li>';
      $("ul[name=paging]").append(innerHtml)
    //  init()
    })
  }
  async function getMeberInfo(dno, uid) {
    sMemberId = uid
    var r = await reqApi({
      URL: 'AgetMemberDetail',
      PARAM: {
        DNO: dno + ""
      }
    })
    var member = r.MEMBERD
    commonLib.bindValue(member)
  }

  function chagneStop(dno, val) {
    console.log(dno, val);
    console.log((val == "Y") ? 'N' : 'Y');
    reqApi({
      URL: "chagneStop",
      PARAM: {
        DNO: dno+"",
        // CUR_STATUS: 'Y'
        CUR_STATUS: (val == "Y") ? 'N' : 'Y'
      }
    }).then(data => {
      alert("변경되었습니다")
      getList()
      console.log(data);
    })
  }

  function movePage(page) {
    currentPage = (pageLevel * 5) + page
    getList()
  }

  function btnPage(pos) {
    if (pos == "bef" && currentPage > 1) {
      currentPage--
    } else if (pos == "next" && currentPage < totalPage) {
      currentPage++
    }
    getList()
  }
</script>
