<!doctype html>
<html lang="ko" class="js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <title>ICK ADMIN</title>

  <link rel="stylesheet" href="../views/include/SmSoftWebfont/style.css">
  <link rel="stylesheet" href="../views/include/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="../views/include/glyphicons/glyphicons.css">
  <link rel="stylesheet" href="../views/include/Sm-Icons3/style.css">
  <link rel="shortcut icon" href="../views/images/favicon.png" type="image/x-icon" />
  <link rel="icon" href="../views/images/favicon.png" type="image/x-icon" />

  <meta name="_csrf" content="<%= csrfToken %>" />
  <meta name="_publicKey" content="<%= publicKey %>" />
  <!-- Menu CSS -->
  <link href="/views/include/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
  <!--Scrollbar-->
  <link rel="stylesheet" href="/views/include/mCustomScrollbar/jquery.mCustomScrollbar.css" />
  <!--select-->
  <link rel="stylesheet" href="/views/include/minimalect/minimalect.css" />
  <!--select-->
  <link rel="stylesheet" href="/views/include/easy-tree-master/css/easyTree.css" />
  <!--rangeSlider-->
  <link href="../views/include/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet">
  <link href="../views/include/ion-rangeslider/css/ion.rangeSlider.skinModern.css" rel="stylesheet">

  <link rel="stylesheet" href="/views/include/css/style.css">
  <link rel="stylesheet" href="/views/include/css/cur.css">
  <script src="/js/commonLib.js?v=1"></script>
  <script src="/js/lang.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/views/include/smarteditor2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
  <script type="text/javascript" src="/views/include/easy-tree-master/src/easyTree.js" charset="utf-8"></script>
  <script type="text/javascript" src="/views/include/js/cur.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../views/include/datepicker.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
