<% include ../head %>

<body>
  <div class="wrap">
    <div class="row">
      <% include ../left-menu %>
      <div class="main-wrap">
        <% include ../header %>

        <section id="title-section">
  				<h1>1:1문의 관리</h1>
  				<div class="row">
  					<p class="fl-l">웹사이트의 기본적인 정보를 변경하실 수 있습니다.</p>
  					<div class="fl-r">
  						<ul class="row">
  							<li>게시판 관리</li>
  							<li><i class="fa fa-angle-right"></i></li>
  							<li>1:1문의 관리</li>
  						</ul>
  					</div>
  				</div>
  			</section>

  			<section id="cont-section">
  				<div class="cont-whitebox">


						<div class="conts-box">

							<div class="from-section">
								<div class="form-title row">
									<h2 class="fl-l">1:1문의 상세보기</h2>
								</div>

								<div class="table-box mem-list">
									<div class="table-over-box">
										<table border="0">
											<thead>
												<tr>
													<th>번호</th>
													<th>분류</th>
													<th>제목</th>
													<th>조회수</th>
													<th>작성일</th>
													<th>작성자 ID</th>
													<th>답변자 ID</th>
													<th>답변자 이름</th>
													<th>답변일</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>2</td>
													<td>분류명 001</td>
													<td>Exchange Korea</td>
													<td>800</td>
													<td>2018.03.15</td>
													<td>mail@mail.com</td>
													<td>testid</td>
													<td>홍길동</td>
													<td>2018.03.15</td>
												</tr>
												<tr>
													<td colspan="9" class="tx-l p-15">
														가상화폐(암호화폐) 비트코인이 1000만 원대를 회복했다. 18일 806만4000원 이후 4일 연속 상승세를 타고 있다. 다만 아직 상승장 전환이라고 보기엔 이르다는 분석이다.<br>

														21일 가상화폐 취급업소(거래소) 빗썸에 따르면 이날 오후 1시11분 1비트코인 당 가격은 1000만4600원(1BTC)로 거래됐다.<br>

														3월 14일 1000만 원 지지선이 붕괴된 이후 7일 만이다. 오후 2시26분 현재 1009만5000원에 거래되고 있다.<br>

														시가총액 2위인 이더리움은 1이더 당 65만3000원에 거래돼 전일 대비 5만7000원(9.56%) 올랐고, 리플은 전일대비 29원(3.84%) 오른 783원에 거래됐다.<br>

														이 밖에 비트코인캐시 119만 원, 라이트코인 19만3300원, 이오스 6790원, 모네로 25만9200원, 대시 48만5500원, 이더리움클래식 2만3300원, 퀀텀 2만2810원, 비트코인골드 7만3900원으
														로 거래됐다. <br>

														24시간 가장 상승폭이 큰 코인(가상화폐 약칭)은 제트캐시로 전일대비 4만8000원(17.81%) 오른 31만7500원에 거래됐다. <br>

														시장에선 G20 회의 금융 의제로 가상화폐 규제를 의제로 다룰 것이란 불안감과는 달리, 현재 수준의 감독 수준을 재확인 하면서 불확실성이 해소된 것이 주효했다고 보고 있다.<br>

														일각에선 단기 급락에 대한 반등일 수 있다는 해석도 나오고 있다.<br>

														비트코인은 3월5일부터 17일까지 지속적으로 하락세를 기록했다. 이에 대한 기술적 반등일 가능성을 배제할 수 없다는 설명이다.

													</td>
												</tr>
											</tbody>
											<thead>
												<tr>
													<th colspan="9">답변내용</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td colspan="9" class="tx-l p-15">
														가상화폐(암호화폐) 비트코인이 1000만 원대를 회복했다. 18일 806만4000원 이후 4일 연속 상승세를 타고 있다. 다만 아직 상승장 전환이라고 보기엔 이르다는 분석이다.<br>

														21일 가상화폐 취급업소(거래소) 빗썸에 따르면 이날 오후 1시11분 1비트코인 당 가격은 1000만4600원(1BTC)로 거래됐다.<br>

														3월 14일 1000만 원 지지선이 붕괴된 이후 7일 만이다. 오후 2시26분 현재 1009만5000원에 거래되고 있다.<br>

														시가총액 2위인 이더리움은 1이더 당 65만3000원에 거래돼 전일 대비 5만7000원(9.56%) 올랐고, 리플은 전일대비 29원(3.84%) 오른 783원에 거래됐다.<br>

														이 밖에 비트코인캐시 119만 원, 라이트코인 19만3300원, 이오스 6790원, 모네로 25만9200원, 대시 48만5500원, 이더리움클래식 2만3300원, 퀀텀 2만2810원, 비트코인골드 7만3900원으
														로 거래됐다. <br>

														24시간 가장 상승폭이 큰 코인(가상화폐 약칭)은 제트캐시로 전일대비 4만8000원(17.81%) 오른 31만7500원에 거래됐다. <br>

														시장에선 G20 회의 금융 의제로 가상화폐 규제를 의제로 다룰 것이란 불안감과는 달리, 현재 수준의 감독 수준을 재확인 하면서 불확실성이 해소된 것이 주효했다고 보고 있다.<br>

														일각에선 단기 급락에 대한 반등일 수 있다는 해석도 나오고 있다.<br>

														비트코인은 3월5일부터 17일까지 지속적으로 하락세를 기록했다. 이에 대한 기술적 반등일 가능성을 배제할 수 없다는 설명이다.

													</td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>

							</div><!--from-section-->

							<div class="from-section mb-0">

								<div class="form-btn-group-box row">

	<!-- 미승인 -->
									<div class="fl-r">
										<a href="/default/inquiry-list-modify" class="btn-change">답변 수정하기</a>
										<a class="btn-change btn-cancel-approval">답변 삭제하기</a>
									</div>

	<!-- 승인&취소 처리완료 -->
									<div class="fl-l">
										<a href="/default/inquiry-list" class="btn-change">목록보기</a>
									</div>
								</div>

							</div><!--from-section-->


						</div><!--conts-box-->


  				</div>
  			</section>


  		</div><!--main-wrap-->

  	</div><!--row-->

  </div><!--wrap--->


</body>





  <script src="../views/include/js/bootstrap.min.js"></script>

        <!-- Menu Plugin JavaScript -->
  <script src="../views/include/sidebar-nav/dist/sidebar-nav.min.js"></script>

        <!--Wave Effects -->
        <script src="../views/include/js/waves.js"></script>



<script>
	$(".sidebar #side-menu > li.menu10").addClass("active");
	$(".sidebar #side-menu > li.menu10").find("ul li.submenu3 a").addClass("active");
</script>
