<% include ../head %>

<body>
  <div class="wrap">
    <div class="row">
      <% include ../left-menu %>
      <div class="main-wrap">
        <% include ../header %>
        <section id="title-section">
          <h1>회원정보수정</h1>
          <div class="row">
            <p class="fl-l">웹사이트의 기본적인 정보를 변경하실 수 있습니다.</p>
            <div class="fl-r">
              <ul class="row">
                <li>회원관리</li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>회원정보수정</li>
              </ul>
            </div>
          </div>
        </section>
        <section id="cont-section">
          <div class="cont-whitebox">

            <div class="conts-box pb-0">

              <div class="from-section mb-0">
                <div class="form-title">
                  <h2>회원기본정보</h2>
                </div>
                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">회원아이디</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_UID" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">회원명</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_NAME_H">
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--form-tr-->

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">회원가입일</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_DATE" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>

                </div>
                <!--form-tr-->

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">휴대폰번호</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_HP">
                        <p class="error">ex) </p>
                      </div>
                      <!-- <p class="input-text fl-r"><i class="sm sm-idea"></i> 2010-09-01 11:30:30 인증완료</p> -->
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">이메일주소</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_EMAIL">
                        <p class="error">ex) </p>
                      </div>
                      <!-- <p class="input-text fl-r"><i class="sm sm-idea"></i> 2010-09-01 11:30:30 인증완료</p> -->
                    </div>
                  </div>
                </div>

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">비밀번호</label>
                      <div class="input-box fl-l">
                        <input type="input" class="input" id="D_PASS">
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">비밀번호 확인</label>
                      <div class="input-box fl-l">
                        <input type="input" class="input" id="D_PASS_CH">
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">ETH Address</label>
                      <div class="input-box fl-l">
                        <input type="input" class="input" id="" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">ICK Address</label>
                      <div class="input-box fl-l">
                        <input type="input" class="input" id="" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">경고여부</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="WARN_YN" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">경고횟수</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="WARN_CNT" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-tr row">
                  <div class="w50p">
                    <div class="form-box row">
                      <label class="fl-l">추천인</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="P_UID" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div> -->


                <!-- <div class="form-tr row">
								<div class="w100p">
									<div class="form-box row">
										<label class="fl-l">관리자 메모</label>
										<div class="input-box fl-l">
											<textarea name="item1_content" id="item1_content"></textarea>
										</div>
									</div>
								</div>
							</div> -->

              </div>
              <!--from-section-->

              <div class="from-section">

                <!-- <div class="form-btn-box mb-10 row mrow">
  								<div class="w50p fl-l">
  									<a class="btn-red">회원삭제</a>
  								</div>
  								<div class="w50p fl-l">
  									<a class="btn-red">아이템몰수</a>
  								</div>
  							</div> -->

                <div class="form-btn-box mb-0 mt-10">
                  <a class="btn-change" onclick="updateInfo()">변경사항 저장하기</a>
                </div>
              </div>

            </div>
            <!--conts-box-->




          </div>
        </section>
      </div>
    </div>
  </div>
</body>
<script>
  init();
  function init(){
    console.log(commonLib.getParameter('dno'));
    reqApi({
      URL: 'getMemberDetail',
      PARAM: {DNO:commonLib.getParameter('dno')}
    }).then(data=>{
      console.log(data);
      commonLib.bindValue(data.MEMBER)
    })
  }
  async function updateInfo() {
    if($("#D_PASS").val()!=$("#D_PASS_CH").val()){
      alert("비밀번호가 일치하지 않습니다")
      return
    }
    var Param = {}
    Param['DNO'] = commonLib.getParameter('dno')
    // Param['D_UID'] = $("#D_UID").val()
    Param['UN_ED_NAME_H'] = $("#D_NAME_H").val()
    Param['D_HP'] = $("#D_HP").val()
    Param['D_EMAIL'] = $("#D_EMAIL").val()
    Param['D_PASS'] = $("#D_PASS").val()
    // console.log(Param);
    // return
    var r = await reqApi({
      URL: 'AupdateMember',
      PARAM: Param
    })
    console.log(r.UPDATEMEMBER);
    switch (r.UPDATEMEMBER.RESULT) {
      case "0":
        alert("정상 수정 처리되었습니다.")
        break;
      case "1":
        alert("실패하였습니다")
        break;
      case "2":
        alert("핸드폰번호를 입력하세요")
        break;
      case "3":
        alert("이메일주소를 입력하세요")
        break;
    }
    //getList()
  }
</script>



<!--
<script src="../views/include/js/bootstrap.min.js"></script>
<script src="../views/include/sidebar-nav/dist/sidebar-nav.min.js"></script>
<script src="../views/include/js/waves.js"></script> -->




<script>
	$(".sidebar #side-menu > li.menu3").addClass("active");
	$(".sidebar #side-menu > li.menu3").find("ul li.submenu1 a").addClass("active");
</script>

<!-- <script type="text/javascript">
var oEditors = [];
var sLang = "ko_KR";	// 언어 (ko_KR/ en_US/ ja_JP/ zh_CN/ zh_TW), default = ko_KR
// 추가 글꼴 목록
//var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];

for (var i = 1; i < 10; i++) {
	nhn.husky.EZCreator.createInIFrame({
		oAppRef: oEditors,
		elPlaceHolder: "item"+i+"_content",
		sSkinURI: "../views/include/smarteditor2/SmartEditor2Skin.html",
		htParams : {
			bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
			//bSkipXssFilter : true,		// client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
			//aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
			fOnBeforeUnload : function(){
				//alert("완료!");
			},
			I18N_LOCALE : sLang
		}, //boolean
		fOnAppLoad : function(){
			//예제 코드
			//oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
		},
		fCreator: "createSEditor2"
	});
}
</script> -->
